<h1>Search</h1>

<form method="get">
  <label for="title">Title: </label>
  <input id="title" name="title" type="text" />
  <br />

  <label for="id">Id: </label>
  <input id="id" name="id" type="text" />
  <br />

  <input type="submit" value="Search" />
</form>

<p>
  Title:
  {{#if query.title}}{{query.title}}{{else}}unused{{/if}}

  <br />
  Id:
  {{#if query.id}}{{query.id}}{{else}}unused{{/if}}

  <br />
  HasParams:
  {{#if (hasParams query)}}true{{else}}false{{/if}}
</p>

<a href="/">Back</a>